<h1>Listing apps</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th></th>
      <th>Name</th>
      <th>Developer</th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each_with_index do |app, i| %>
      <tr>
        <td><p class="text-right"><%= i+1 %></p></td>
        <td><%= image_tag app.img_url + "=w30" %>
        <td><%= link_to app.name, app %></td>
        <td><%= app.developer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
